
{% extends "base2.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{api}}&lang=ru_RU"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        var map;
        ymaps.ready(function () {
            map = new ymaps.Map('map', {
                center: [54.782635, 32.045287],
                zoom: 13,
                controls: [
                'zoomControl', // Ползунок масштаба
                'typeSelector' // Переключатель слоев карты
                ]
            });
        });
        function show(item){
            map.geoObjects.removeAll();
            let myPolygons;
            var coords = [item[0][0]];
            if(item[0].length == 2){
              coords.push(item[0][1]);
            };
            map.setCenter(item[0][0][0]);
            myPolygons = new ymaps.GeoObject({
                geometry: {
                    type: "Polygon",
                    coordinates: coords
                }
            }, {
                    fillColor: '#FF0000', //цвет
                    opacity: 0.5, //прозрачность
                    stroke: false //обводка(нету)
                });
            map.geoObjects.add(myPolygons);
            map.setZoom(10);
        };
      function updateContent() {
        $.getJSON('/get_coords_hid', function(data){
          var result = data.coords;
          document.getElementById("buttons").innerHTML = "";
          for(item in result){
            console.log(result[item])
              const div = document.createElement('div');
              div.className = 'item';
              div.innerHTML = `
                <div class="col-md6 border rounded" style="margin-top:10px; display: flex; justify-content: center;">
                  <div style="display: inline-flex; margin: 5px;">
                    <input id="bt" type="button" value="Посмотреть" onclick="show(`+JSON.stringify([result[item][0]])+`)" class="btn btn-info" style="margin-right: 5%;">
                    <a href="/pol_add/${result[item][1]}" class="btn btn-success m_el" style="margin-right: 5%;">
                      Добавить
                    </a>
                    <a href="/pol_remove/${result[item][1]}" class="btn btn-danger m_el" style="margin-right: 5%;">
                      Удалить
                    </a>
                  </div>
                </div>
              `;
              document.getElementById('buttons').appendChild(div);
          }
        })
      }
    updateContent();
    setInterval('updateContent()', 1000*15);
</script>
{% endblock %}
{% block content %}
<h1>Новые точки</h1>
<div id="map"></div>
<div id="buttons"></div>
<script>

</script>
{% endblock %}