{% extends "base.html" %}

{% block content %}
<p><b><h4>Народная медицина</h4></b></p>
<p>С глубокой древности борщевик использовался в народной медицине Европы и Азии. Сок растения использовался для лечения гнойных ран и язв, при падучей болезни и астме, а корни – при болях в печени и желтухе
<ul>
<li>
    <b><h5>Медонос и эфиромасличное растение</h5></b>
    <p>Борщевик – медоносное растение, цветки дают много пыльцы и нектара. Медопродуктивность (по литературным данным) достигает 300 кг/га. Из корней, богатых сахарами, получали сахар.
    <div class="apl_imgs">
        <img src="{{ url_for('static', filename='/images/application/3.jpg') }}">
        <p>Борщевики являются эфиромасличными растениями. В ряде работ было показано, что в составе эфирного масла листьев содержат анетол и могут служить источниками для его получения. Компоненты эфирного масла видов рода, содержащие вещества с невысокой молекулярной массой, могут служить ценным сырьем для получения душистых веществ и могут быть использованы в парфюмерии. Исследования компонентного состава эфирных масел, выделенных из разных органов различных видов рода Борщевик, проводимые с 1980-х годов, показали антимикробную и антивирусную активность. Это также открывает новые перспективы в использовании эфирных масел в медицине и для санации помещений.</p>
    </div>

</li>
<li>
    <b><h5>Средства для лечения псориаза, витилиго и алопеции</h5></b>
    <p>Известно, что благодаря бактерицидным свойствам фурокумаринов (биологически активных составляющих) борщевик успешно используется при лечении животных, в частности от гельминтоза. Борщевик может использоваться как сырье для получения псораленов — веществ, которые используются для лечения псориаза и других кожных болезней. Эфирные масла, входящие в состав Борщевика Сосновского обладают
    бактерицидным и противомикробным действием. И при этом не вызывают резистентность, то есть привыкание у микроорганизмов -
    возбудителей болезней.
</li>
<li>
    <b><h5>Биоэтанол из борщевика как из дикорастущего, так и культивируемого</h5></b>
    <p>Борщевик можно использовать для производства биотоплива, спирта. Причём он обладает рекордной продуктивностью — до 29 000 литров биоэтанола с гектара (из сахарных тростника и свёклы можно производить 4550 и 5060 литров с гектара). Изобретение относится к области биоэнергетики, спиртовой промышленности и может быть использовано в качестве жидкого печного или моторного биотоплива. Технический результат - снижение использования культур продовольственного назначения в качестве исходных компонентов для получения биоэтанола, ограничение распространения и вредоносности борщевика как агрессивного инвазионного вида.
</li>
<li>
    <b><h5>Способ получения целлюлозы</h5></b>
    <p>Способ может быть использован для производства целлюлозы из целлюлозосодержащего сырья из травянистых растений, предназначенной для химпереработки, производства ваты, в бумажной промышленности. Обеспечивается эффективность экономически выгодного способа получения целлюлозы.
</li>
<li>
    <b><h5>Способ получения белого сахара из борщевика</h5></b>
    <div class="apl_imgs">
        <p>Изобретение относится к пищевой промышленности. При этом используют борщевик, как дикорастущий, так и культивированный, содержащий сахарозу 17-31% от фазы бутонизации до фазы цветения. Способ позволяет решить такую проблему, как ограничение распространения и вредоносности борщевика как агрессивного инвазионного вида</p>
        <img src="{{ url_for('static', filename='/images/application/5.jpg') }}" class="shugar">
    </div>
</li>
<li>
    <b><h5>Способ борьбы с дикорастущей коноплей путем подсева Борщевика Сосновского</h5></b>
    <p>Изобретение относится к области сельского хозяйства и может быть использовано в качестве метода борьбы с дикорастущей коноплей путем подсева борщевика Сосновского. Способ включает механические операции: истощение, уборку дикорастущей конопли, вспашку и предпосевную обработку почвы.С площадей произрастания борщевика Сосновского получают зеленую массу для производства биотоплива и сахарной продукции. В результате использования данного способа уничтожаются площади произрастания дикорастущей конопли, ликвидируя этим возможность изготовления наркотических веществ "анаша", "гашиш", "марихуана"
</li>
<li>
    <b><h5>Борщевичная «незамерзайка»</h5></b>
    <p>Смоленские студенты представили проект по производству на базе борщевика Сосновского «омывайки» для стеклянных окон как автомобильных, так и прочих. Из борщевика получали этиловый спирт, благодаря которому стеклоомыватель выдерживает минусовые температуры. Аналогов данной продукции, произведенной из фактически сорного растения, пока не существует.</p>
    <img src="{{ url_for('static', filename='/images/application/2.jpg') }}" class="img">
</li>
<li>
    <b><h5>Борщевик Сосновского поможет бороться с радиоактивными отходами</h5></b>
    <p>Атомная промышленность — один из самых надёжных и эффективных способов получения энергии. Однако радионуклиды — радиоактивные элементы, образующиеся в процессе ядерных реакций, — попадают в окружающую среду и приводят к её загрязнению. Далее радионуклиды могут попадать в живые организмы, в том числе человека, что может вызывать повреждение жизненно важных органов и онкологические заболевания.
    <p>Учёные из различных российских университетов создали наноуглеродные адсорбенты, способные поглощать радиоактивные элементы из жидких сред и удерживать их. В качестве исходного сырья исследователи использовали биомассу борщевика Сосновского, природный лигнин — полимерное соединение, содержащееся в клетках наземных растений, а также технический лигнин — побочный продукт глубокой химической переработки древесины.
</li>
<li>
    <b><h5>Корм для скота</h5></b>
    <div class="apl_imgs">
        <p>Первый, и наиболее простой и понятный путь его применения – кормовая база животноводства в стране, на этом пути Борщевик Сосновского позволяет на порядок увеличить поголовье стада крупнорогатого скота в РФ В апреле, когда многие растения еще не взошли, эта трава – лакомство для коз и овец. Домашние животные охотно едят молодой борщевик и пока он еще только взошел – такой корм не является вредным для животных.</p>
        <img src="{{ url_for('static', filename='/images/application/1.jpg') }}">
    </div>
</li>
<li>
    <b><h5>Борщевик против рака</h5></b>
    <p>Действующее вещество препарата — экстракт борщевика Сосновского, который под воздействием облучения ультрафиолетовым светом проникает в ДНК раковых клеток и запускает механизм их самоуничтожения — апоптоз. Такой эффект позволяет избежать рецидива и является ключевой особенностью нового препарата, отличающей его от других противоопухолевых средств. Аналогов с подобными свойствами еще не существует.
    <p>Препарат представляет собой белую жидкость. В ней присутствуют физраствор и липосомы — микроскопические пузырьки, внутри которых содержатся фуранокумарины борщевика (биологически активные соединения, способные вызывать повышение чувствительности к воздействию ультрафиолетового облучения). Оболочка наночастиц по составу близка к мембране клеток человека и биосовместима с ними. Способ применения препарата заключается в том, что сначала пациенту внутривенно вводится раствор, а через некоторое время опухоль облучается ультрафиолетом.
</li>
</ul>


{% endblock %}