{% extends "base.html" %}

{% block content %}
<p><b><h4>Борьба с борщевиком на Смоленщине</h4></b></p>
<p>В областном центре началась ежегодная борьба с борщевиком Сосновского – растением опасным, наносящим людям серьёзные ожоги. Покос малоэффективен, поэтому для уничтожения борщевика все его побеги обрабатываются специальными химическими растворами. Недавно такие работы проводились на Киевском шоссе.</p>
<p>Такой метод борьбы с вредоносным растением очень эффективен, проверен на протяжении нескольких лет. Объем работ будет увеличиваться по мере выявления новых мест произрастания борщевика.</p></p>
<p>Через несколько дней обработанные химикатами листья начнут желтеть и вянуть. Для того, чтобы растение не развивалось и не распространялось, обработка проводится дважды за сезон во всех районах города.</p>
<div class="cont_imgs">
    <img src="{{ url_for('static', filename='/images/fight/1.jpg') }}">
    <img src="{{ url_for('static', filename='/images/fight/2.jpg') }}">
</div>
{% endblock %}