{% extends "base.html" %}

{% block content %}
<p><b><h4>История появления Борщевика Сосновского в России и на Смоленщине</h4></b></p>
<p>Борщевик Сосновского — это крупное травянистое растение, рода
Борщевик. С середины ХХ века в СССР культивировалось как
силосное, но выяснилось, что растение быстро дичает и разрушает
естественные экосистемы.</p>
<p>Борщевик Сосновского содержит
фуранокумарины-вещества, которые повышают чувствительность к
ультрафиолету и при попадании на кожу вызывают ожоги. Борщевик
Сосновского богат различными полезными веществами: содержит
большое количество клетчатки, протеина, характеризуется высокими
кормовыми свойствами. Борщевик также обладает мутагенный
воздействием. Ранее им кормили скот, впоследствие у животных
(коров) происходили мутации в организме, в дальнейшем они
становились бесплодными.</p>
<p>Сейчас Борщевик Сосновского занял, по
разным оценкам, от 20% до 40% сельскохозяйственных угодий.
Борщевик Сосновского впервые был описан в 1944 г. Это выносливые
растения хорошо произрастающие в холодном климате. На северозападе России, он впервые был интродуцирован в 1947 г. Как
кормовое растение его вводили в Латвии, Эстонии, Литве, Беларусии,
Украине, бывшей ГДР (В России первый образец был собран в
гербарий в 1948 г. в районе Серпухово, Московская область. До 1970-
х годов борщевик Сосновского отмечали редко, но позже, вид
получил широкое распространение. В ботанических садах растение
культивировали как декоративное. Борщевик Сосновского был
завезен на остров Сахалин в 1962 г. для создания
высокопродуктивной силосной культуры с целью улучшения
кормовой базы сельскохозяйственных животных.</p>
<img src="{{ url_for('static', filename='/images/history/1.jpg') }}" class="history">
<p>Уже в первые годы
интродукции борщевика Сосновского были замечены некоторые
вредные для человека свойства (появление ожогов на коже при
соприкосновении с наземными частями растений) и интенсивное
распространение в пределах небольшого экспериментального
участка. Никаких специальных мер по ограничению его
распространения после завершения интродукционной тематики
принято не было. Теперь в лаборатории приходится вести
исследование биологических особенностей этого вида с целью
искоренения борщевика на захваченных им территориях или хотя бы
эффективного сдерживания его дальнейшего распространения.</p>
{% endblock %}