<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <title>{{title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{api}}&lang=ru_RU"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        let map;
        var all_coords=[];
        var all_coords_obj = [];
        function updateContent() {
            $.getJSON('/get_coords_vis', function(data){
                var result = data.coords;
                let myPolygon;
                let temp = [];
                let temp_obj = [];
                for(item in result){
                    var coord = [result[item][0][0]];
                    if(result[item][0].length == 2){
                      coord.push(result[item][0][1]);
                    };
                    myPolygon = new ymaps.GeoObject({
                        geometry: {
                            type: "Polygon",
                            coordinates: coord
                        }
                    }, {
                            fillColor: '#FF0000', //цвет
                            opacity: 0.5, //прозрачность
                            stroke: false //обводка(нету)
                    });
                    temp.push(coord);
                    temp_obj.push(myPolygon);
                    map.geoObjects.add(myPolygon);
                }
                if(all_coords.length>0){
                    for(item in all_coords_obj){
                        map.geoObjects.remove(all_coords_obj[item]);
                    }
                }
                all_coords = temp;
                all_coords_obj = temp_obj;
            })
        }
        ymaps.ready(function () {
            map = new ymaps.Map('map', {
                center: [54.782635, 32.045287],
                zoom: 10,
                controls: [
                'zoomControl', // Ползунок масштаба
                'typeSelector' // Переключатель слоев карты
                ]
            });
            updateContent();
        });
       setInterval('updateContent()', 1000*15);
    </script>
</head>
<body>
<div class="topheader">
        <div class="container">
            <header class="header">
                <div class="inform">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                        </a>
                    </div>
                    <div class="add">
                        {% if current_user.is_authenticated %}
                        <a href="/add_polygon">Добавить Точку</a>
                        {% elif not current_user.is_authenticated %}
                        <a href="/login">Добавить точку</a>
                        {% endif %}
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="main_content">
        <section class="content">
            <div id="map" style="width: 100vw; height: 100vh; margin: 0;"></div>
        </section>
    </div>
</body>
</html>