{% extends "base.html" %}

{% block content %}
<p></p><b><h4>Способы борьбы с Борщевиком Сосновским:</h4></b></p>
<ul>
    <li><b>Механический метод</b> – подрезание корневищ единичных растений на глубине ниже 10 см ранней весной, а затем второй раз в середине лета.</li>
    <li><b>Применение укрывных материалов</b></li>
</ul>
<div class="apl_imgs">
    <img src="{{ url_for('static', filename='/images/methods/3.jpg') }}">
    <p>Применение укрывных затеняющих материалов – поверхность участка, занятого
    борщевиком, укрывают черной полиэтиленовой пленкой или геотекстильных
    материалов (геополотно). Геополотно применяется в сочетании с привозным грунтом,
    наносимым на его поверхность, с последующим посевом злаковых трав. На территории
    населенных пунктов экологически безопасным и эффективным является применение укрывных затеняющих материалов.</p>
</div>

<ul><li><b>Агротехнический метод</b></li></ul>
<p>Многократное скашивание на землях сельскохозяйственного назначения, глубокая
вспашка и дискование с последующим высевом замещающих культур (злаковые,
бобовые травы, возделывание картофеля).</p>
<img src="{{ url_for('static', filename='/images/methods/1.jpg') }}" class="history">
<ul><li><b>Химический метод и применение гербицидов и их баковых смесей.</b></li></ul>
<div class="apl_imgs">
    <div>
        <p>Наиболее эффективен химический метод борьбы с борщевиком с использованием
        гербицидов. Целью гербицидной обработки является уничтожение вегетативной массы
        и предупреждение плодоношения растений борщевика. Сроки применения гербицидов
        – с начала отрастания борщевика при высоте растений 15-35 см и до начала цветения. В
        другие периоды роста сорняка обработка не будет давать значительного эффекта.
        <p>После внесения гербицидов рекомендуется проведение вспашки осенью или весной с
        последующим высевом замещающей культуры (злаковые, бобовые травы) для
        замедления процесса восстановления популяции борщевика.</p>
    </div>
    <img src="{{ url_for('static', filename='/images/methods/2.jpg') }}">
</div>


<ul><li><b>Посадка культурных растений</b></li></ul>
<p>Помогут любые бобовые — клевер или люцерна, а также различные злаковые культуры.
Есть эффект от использования козлятника восточного, костреца безостого.</p>
<ul><li><b>Выращивание топинамбура</b></li></ul>
<div class="apl_imgs">
    <img src="{{ url_for('static', filename='/images/methods/4.jpg') }}">
    <p>Среди группы многолетних (многолетних злаковых трав, козлятника и др.) топинамбур
    наиболее устойчивый при длительном культивировании, способный произрастать на
    одном и том же месте в течение более 10 лет без потери продуктивности. Необходим
    контроль территорий, чтобы не только уничтожить Борщевик Сосновского, но и не дать
    разрастись. Однако, чем южнее — тем топинамбур лучше себя чувствует, а борщевик
    — хуже. И даже весьма вероятно, что на некоторой широте их агрессивности станут
    сопоставимы.</p>
</div>
<ul><li><b>Выращивание елей против Борщевика Сосновского</b></li></ul>
<p>Ель обыкновенная даёт очень хорошую тень, поэтому в некоторой перспективе хвойные
растения вполне могли бы составить конкуренцию борщевику. В густом ельнике
борщевик не вырастает до состояние плодоношения.</p>
<p><b><h5>Биологические методы борьбы:</h5></b></p>
<ul>
    <li>Итальянский клоп</li>
    <li>Бабочка махаона</li>
    <li>Тля</li>
    <li>Сетчатый слизень</li>
    <li>Щитник линейчатый</li>
</ul>
<p>Насекомые широко распространены в Европе, на Кавказе, Средней Азии, некоторые из
них распространены и на других континентах. Откладывая личинки, насекомые
повреждают единичные растения, тем самым не давая распространяться Борщевику
Сосновского. Отрицательным воздействием является то, что есть большой риск
повреждения урожая и культурных растений насекомыми.</p>

{% endblock %}