{% extends "base.html" %}

{% block content %}
<b><h4>Первая помощь при ожоге соком Борщевика Сосновского:</h4></b>
<ul>
    1. Тщательно с мылом промыть пораженные соком участки кожи;
    <br>2. Защитить пораженные участки тела от солнечных лучей;
    <br>3. Пораженные участки кожи обработать раствором спирта или слабым
    <br>раствором марганцовки или сделать примочку из фурациллина;
    <br>4. Принять антигистаминные или противоаллергенные препараты
    (зодак, диазолин, фенкарол, супрастин)
    <br>5. Смазать пораженные соком участки кожи средства от ожогов
    (пантенол);
    <br>6. Если были поражены участки слизистых необходимо срочно
    обратиться ко врачу;
    <br>7. При необходимости обратиться в любое медицинское учреждение.
</ul>
<div class="cont_imgs">
    <img src="{{ url_for('static', filename='/images/pmp/1.jpg') }}">
    <img src="{{ url_for('static', filename='/images/pmp/2.jpg') }}">
</div>
{% endblock %}